<section id="viewSendMessage">
    <h1>Send Message</h1>
    <form id="formSendMessage" action="#/sendMessage" method="post">
        <div>Recipient:</div>
        <div>
            <select name="recipient" required id="msgRecipientUsername">
                {{# each users}}
                    <option value="{{username}}">{{name}} ({{username}})</option>
                {{/each}}
            </select>
        </div>
        <div>Message Text:</div>
        <div><input type="text" name="text" required id="msgText" /></div>
        <div><input type="submit" value="Send" /></div>
    </form>
</section>