@using CarDealerApp.Models.ViewModels;
@using System.Collections.Generic;

@model IEnumerable<PartViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Of All Parts</h2>

<a href="/Parts/Add" class="btn btn-success">Add New Part</a>
<br /><br />

<table class="table">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Supplier</th>
        <th>Admin</th>
    </tr>
    @{
        foreach (var part in Model)
        {
            <tr>
                <td>@part.Name</td>
                <td>@part.Price</td>
                <td>@part.Quantity</td>
                <td>@part.SupplierName</td>
                <td>
                    <a href="/Parts/Edit/@part.Id">Edit</a> | 
                    <a href="/Parts/Delete/@part.Id">Delete</a>
                </td>
            </tr>
        }
    }
</table>