@using CarDealerApp.Models.ViewModels;
@model EditCustomerViewModel

<h2>Edit Customer Info</h2>

<form method="post" class="form-horizontal">
    <input type="hidden" value="@Model.Id" name="id" />
    <div>
        <label for="name">Name</label><br />
        <input class="form-control" type="text" placeholder="Enter Customer Name" id="name" name="name" value="@Model.Name" />
    </div>
    <br />
    <div>
        <label for="date">Date Of Birth</label><br />
        <input class="form-control" type="date" id="date" name="date" value="@Model.Date.ToString("yyyy-MM-dd")"/>
    </div>
    <br />
    <input class="btn btn-danger" type="submit" value="Edit" />
</form>