@using CarDealer.Models;
@model Customer

@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Personal Details</h1>

<h3>@Model.Name</h3>
<h3>Cars Bought : @Model.Sales.Count</h3>
<h3>Money Spent : @Model.Sales.Sum(s => s.Car.Parts.Sum(p => p.Price))</h3>
