@{
    ViewBag.Title = "Unauthorized";
}

<style>
    h2 {
        text-align: center
    }
    .getBack {
        display: table;
        margin: 0 auto;
    }
</style>

<h2 class="alert alert-danger">You are no admin, asshole. Get back to your place!</h2>

<div class="getBack">@Html.ActionLink("I am a wuss, please let me go back", "Index", "Home", null, new { @class = "btn btn-success" })</div> 