@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Dealer</h1>
    <p class="lead">Just pick a ride!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Browse Cars</h2>
        <p>
            Inside you will find a catalogue of our cars
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Suppliers</h2>
        <p>Inside you will find list of our local/worldwide importers.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customer Details</h2>
        <p>Get personal info on anyone you want to stalk.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>