@using CarDealerApp.Models.ViewModels;

@model EditSupplierViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Info about <b><i>@Model.Name</i></b></h2>

<form method="post" class="form-horizontal">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" value="@Model.Name" class="form-control"/>
    <br />
    <label for="importer">Is Importer:</label>
    <input type="checkbox" id="importer" name="importer" value="true" @(Model.IsImporter ? "checked=\"checked\"" : "")>
    <br />
    <input type="hidden" name="id" value="@Model.Id" />
    <br />
    <a href="/Suppliers/All" class="btn btn-danger">CANCEL</a>
    <input type="submit" value="EDIT" class="btn btn-success" />
</form>