@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Camera Bazaar</h1>
    <p class="lead">Welcome to the biggest camera store in the world.</p>
    <p><a href="/Cameras/All" class="btn btn-primary btn-lg">Visit store &raquo;</a></p>
</div>
<div align="center"><img src="https://cdn.meme.am/instances/500x/76134452/khajiit-cat-khajiit-has-cameras-if-you-have-coin.jpg" alt="Khajit the cat" height="400" class="thumbnail" /></div>