@model IEnumerable<CarDealer.Models.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars Catalog</h2>

<p>
    <a href="/Cars/Add" class="btn btn-success">Add New Car</a>
</p>
<table class="table">
    <tr>
        <th>
            Brand
        </th>
        <th>
            Model
        </th>
        <th>
            Distance Travelled
        </th>
        <th>
            Admin
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelledDistance)
        </td>
        <td>
            <a href="/Cars/@item.Id/Parts">Details</a>
        </td>
    </tr>
}
</table>